# ignore
Versions/
ThirdParty/mongoose/
ThirdParty/rserve/
ThirdParty/RJSONIO/
RhttpServe


# ============================
# Other Version Control
# ============================
.svn
.hg*


# ============================
# General Windows ignore files
# ============================
Thumbs.db

