<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gsDesign.LauncherGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gsDesign.LauncherGUI.Properties.Settings>
            <setting name="RservePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PolicyServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExplorerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowConsoleOutput" serializeAs="String">
                <value>False</value>
            </setting>
        </gsDesign.LauncherGUI.Properties.Settings>
    </userSettings>
</configuration>