<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="gsDesign.LauncherGUI.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<gsDesign.LauncherGUI.Properties.Settings>
			<setting name="RservePath" serializeAs="String">
				<value />
			</setting>
			<setting name="PolicyServerPath" serializeAs="String">
				<value />
			</setting>
			<setting name="ExplorerPath" serializeAs="String">
				<value />
			</setting>
			<setting name="ShowConsoleOutput" serializeAs="String">
				<value>False</value>
			</setting>
		</gsDesign.LauncherGUI.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" sku="Client" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="gsDesign.LauncherGUI.Services.RServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="gsDesign.LauncherGUI.Services.ClientAccessPolicyBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="gsDesign.LauncherGUI.Services.RServiceBehavior"
			         name="gsDesign.LauncherGUI.Services.RService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:4503/" />
					</baseAddresses>
				</host>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="RService" binding="basicHttpBinding" contract="gsDesign.LauncherGUI.Services.IRService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="webHttpBehavior" contract="gsDesign.LauncherGUI.Services.IClientAccessPolicy">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>